@page
@model SimpleWebApi.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello, world!</h1>
<p>Welcome to your first Razor Page.</p>
<p>The time on the server is @DateTime.Now</p>

<p><a href="api/items">/api/items for Entity Framework based WebAPI</a></p>
